@import url(//db.onlinewebfonts.com/c/aec907da6ddc0232418067ecacb324a2?family=Noto+Sans+Lao);
/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
/* Custom color theme */
:root {
  --f7-font-family: 'Noto Sans Lao UI Regular';


  --f7-theme-color: #336359;
  --f7-theme-color-rgb: 51, 99, 89;
  --f7-theme-color-shade: #254841;
  --f7-theme-color-tint: #417e71;

  --f7-input-bg-color: transparent;
  --f7-label-font-weight: 400;
  --f7-label-line-height: 1.3;
  --f7-label-font-size: 18px;
  --f7-input-padding-left: 0px;
  --f7-input-padding-right: 0px;
  --f7-input-error-text-color: #ff3b30;
  --f7-input-error-font-size: 12px;
  --f7-input-error-line-height: 1.4;
  --f7-input-error-font-weight: 400;
  --f7-input-info-font-size: 12px;
  --f7-input-info-line-height: 1.4;
  --f7-input-outline-height: 40px;
  --f7-input-outline-border-radius: 4px;
  --f7-input-outline-padding-horizontal: 12px;
  --f7-textarea-height: 100px;
}
/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 51;
  --g: 99;
  --b: 89;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Framework7  Font (for  theme) */
@font-face {
  font-family: "noto sans lao";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto\ Sans\ Lao\ UI\ Regular.eot");
  src: url("../fonts/Noto\ Sans\ Lao\ UI\ Regular.woff2") format("woff2"),
    url("../fonts/Noto\ Sans\ Lao\ UI\ Regular.woff") format("woff"),
    url("../fonts/Noto\ Sans\ Lao\ UI\ Regular.ttf") format("truetype");
}


.bg-color-cream1 {
  --f7-theme-color-bg-color: #E5CDD2;
}
.bg-color-creamgray {
  --f7-theme-color-bg-color: #779790;
}.bg-color-creamlight {
  --f7-theme-color-bg-color: #A4B9B5;
}
.bg-color-tup {
  --f7-theme-color-bg-color: #55857d;
}.bg-color-cream {
  --f7-theme-color-bg-color: #F8F6E7;
}.text-color-black {
  --f7-theme-color-text-color: #000000;
}